# Date,Time and TimeStamp

In [77]:
from datetime import date               # date= yyyymmdd format
d1= date.today()    
print(d)
print(d.month, d.day, d.year, sep=':')
print(d.weekday())                      # weekday number Monday=0, tuesday=1...
print(d.isoweekday())                   # isoweekday number Monday=2, tuesday=2...

1989-04-25 03:45:03
4:25:1989
1
2

In [79]:
d2=date.fromisoformat('2015-07-27')                       # enter a string to convert to date

print ( d2,type(d2), sep=':')
print (d2.isoformat(),type(d2.isoformat()), sep=':')      
d2

2015-07-27:<class 'datetime.date'>
2015-07-27:<class 'str'>

datetime.date(2015, 7, 27)

In [49]:
#date can be subtracted and added

d2=date(2015,7,27)
d3=date(1989,4,25)
numberofdays_service= (d1-d2)
Age= (d1-d3)

print ('Age', 'Service', sep=':', end='\n')
print (Age, numberofdays_service, sep=' : ')

Age:Service
11308 days, 0:00:00 : 1719 days, 0:00:00

In [80]:
from datetime import time     #format of time =(hour,minute,second,microsecond,tzinfo)format

dtime= time(14,25,36,1221)   
dtime_now = time(1,15)

print(dtime)
print(dtime_now)
print(dtime>dtime_now)

14:25:36.001221
01:15:00
True

### datetime

In [91]:
from datetime import datetime    #format of time =(yyyy,mm,dd, hour,minute,second,microsecond,ty) format
d= datetime(1989,4,25,3,45,3)
print (d.date())
print(d.time())

today=datetime.today()
curr_time=datetime.now()

print (curr_time.time())
print (curr_time.date())
print (today.date(),today.time())
print (curr_time.hour, curr_time.minute,curr_time.year, curr_time.day)

1989-04-25
03:45:03
11:29:50.464951
2020-04-10
2020-04-10 11:29:50.464951
11 29 2020 10

### datetime.strftime() for actual name of month and weekdays

In [108]:
print (curr_time.strftime('%a, %A, %b, %x, %B,%d,%Y'))

Fri, Friday, Apr, 04/10/20, April,10,2020

### timedelta

In [102]:
from datetime import timedelta
tdelta= timedelta(days=6)
fut_day=today+tdelta
print (fut_day)

2020-04-16 11:29:50.464951

In [96]:
import time
ts= time.time()
print (ts)
print(time.ctime())   # this is computer time

1586511674.0731082
Fri Apr 10 11:41:14 2020

In [112]:
# to find the time duration for a opertraion
start_time= time.process_time()
time.sleep(8)
end_time=time.process_time()

execution_time=end_time-start_time
print ('total time taken =' ,execution_time,'seconds')

total time taken = 0.015625 seconds